body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #add8e6; /* Light blue background */
    margin: 0;
}

#game {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    position: relative;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#settings-icon, #withdraw-icon {
    width: 30px;
    cursor: pointer;
}

#score {
    font-weight: bold;
    font-size: 1.2em;
}

#question {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

#choices {
    margin-top: 20px;
}

.choice {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color: blue;
    font-weight: bold;
    border: 2px solid blue;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

.choice:hover {
    background-color: blue;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
